apiVersion: argoproj.io/v2
kind: Application

metadata:
  name: argocd-application

spec:
  destination:
    name: in-cluster
    namespace: argocd

  source:
    targetRevision: HEAD
    repoURL: "{{ devops_repository }}";
    path: "{{devops_repository_argocd_templates }}";

  project: default
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true