apiVersion: v1
kind: ConfigMap
metadata:
  name: cilium-hubble
  namespace: cilium-system
data:
  values.yaml: |
    hubble:
      enabled: true
      relay:
        enabled: true
      ui:
        enabled: true
        service:
          type: ClusterIP
      tls:
        enabled: false
      metrics:
        enabled:
          - dns
          - drop
          - tcp
          - flow
          - port-distribution
          - icmp
          - "httpV2:exemplars=true;labelsContext=source_ip,source_namespace,source_workload,destination_ip,destination_namespace,destination_workload,traffic_direction"